.introducao {
    text-align: center;
}

.introducao1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.introducao2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.div-pai {
    display: flex;
}

.div1 {
    text-align: center;
    margin-right: 40px
}

.div2 {
    text-align: center;
    margin-right: 40px;
}

.div3 {
    text-align: center;
    margin-right: 40px;

}

.div4 {
    text-align: center;
    margin-right: 40px;

}

.div5 {
    text-align: center;
    margin-right: 40px;

}

.div6 {
    text-align: center;
    margin-right: 40px;

}