.introducao {
    text-align: center;
}

.div-pai {
    display: flex;
}

.div1 {
    text-align: center;
    margin-left: 40px;
}


.div2 {
    text-align: center;
    margin-left: 40px;
}

.div3 {
    text-align: center;
    margin-left: 40px;
}

.div4 {
    text-align: center;
    margin-left: 40px;
}

.div5 {
    text-align: center;
    margin-left: 40px;
}

.div6 {
    text-align: center;
    margin-left: 40px;
}

.div7 {
    text-align: center;
    margin-left: 40px;
}

.div8 {
    text-align: center;
    margin-left: 40px;
}

.div9 {
    text-align: center;
    margin-left: 40px;
}

.linha {
    text-align: center;
}

