<html>
    <head>
        <title>InfoFácil Blog</title>
        <link rel="stylesheet" href="../style/estilocontato.css">
    </head>

    <body>
        
        <div class="estilo-div">
            <a href="" class="estilo-a" ><b>InfoFácil blog</b></a>
            <p class="estilo-p"><i>Seu portal de <b>notícias rápidas</b> e conteúdo acessível!</i></p>
        </div>

        <div class="estilo-div2">
            <a href="../index.html" class="estilo-a2"><b>Início</b></a>
            <a href="" class="estilo-a3"><b>Tecnologia</b></a>
            <a href="" class="estilo-a4"><b>Educação</b></a>
            <a href="contato.html" class="estilo-a5"><b>Contato</b></a>
        </div>

        <div class="estilo-div3">
        <a href="" class="estilo-a6"><b>Entre em contato</b></a>

        <p>Estamos sempre abertos para ouvir você! Se tiver <b>dúvidas, sugestões ou críticas</b> é só preencher o formulário abaixo.</p>
        <p><i>Nosso time responderá o mais rápido o possível!</i></p>

         <img src="../img/entre-em-contato-conosco-mao-do-empresario-segurando-o-smartphone-movel-com-o-icone-email-telefone-email_52701-38.avif" alt="" class="img" >
        </div>

        <div class="estilo-div5">
            <form>
                <label for="input-nome" class="estilo-titulo"><b>Nome: </b> </label>
                <br>
                <input type="text" id="input-nome" class="estilo-input">
                <br>
                <br>
                <label for="input-email" class="estilo-titulo"><b>E-mail: <b></b> </label>
                <br>
                <input type="text" id="input-email" class="estilo-input">
                <br>
                <br>
                <label for="input-mensagem" class="estilo-titulo"><b>Telefone (Opcional): </b> </label>
                <br>
                <input type="text" id="input-mensagem" class="estilo-input">
                <br>
                <br>
                <label for="input-mensagem" class="estilo-titulo"><b>Assunto: </b> </label>
                <br>
                <input type="text" id="input-mensagem" class="estilo-input">
                <br>
                <br>
                <label for="input-mensagem" class="estilo-titulo"><b>Mensagem: </b> </label>
                <br>
                <input type="text" id="input-mensagem" class="estilo-input">
                <br>
                <br>
                <button type="submit" class="submit"><b>Enviar Mensagem</b></button>
        </div>

    </body>

    <footer>
        <p class="estilo-text">@ 2025 Infofácil Blog. Desenvolvimento com HTML e CSS puros.</p>
    </footer>

    </body>
</html>